
# BEGIN EnvatoBackup
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=303fa6b423d60960697a08e6c60b23e3
RewriteRule (.*) - [F]
</IfModule>

# END EnvatoBackup
